.DS_Store
fish/.config/fish/conf.d/z.fish
fish/.config/fish/functions/__z.fish
fish/.config/fish/functions/__z_add.fish
fish/.config/fish/functions/__z_clean.fish
fish/.config/fish/functions/__z_complete.fish
__*
!__bobthefish_colors.fish